
<!-- Thành Phần Thanh Header Đầu Tiên  -->
<div class="container-fluid d-none d-lg-block">
    <!-- Danh Sách Các Thông Tin -->
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <!-- Thanh Bên Trái -->
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <!-- Ngày Tháng Năm -->
                            <a class="nav-link text-body small" href="#">Monday, January 1, 2045</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <!-- Đường dẫn Quảng Cáo -->
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <!-- Phương Thức Liên Lạc -->
                            <a class="nav-link text-body small" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <!-- Đăng Nhập User -->
                            <a class="nav-link text-body small" href="/login">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <!-- Thanh Bên Phải (icon truyền thanh mạng xã hội) -->
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <!-- Đường Dẫn Icon X(Twitter cũ) -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <!-- Đường Dẫn Icon FaceBook -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a>
                        </li>
                        <li class="nav-item">
                            <!-- Linkedin -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a>
                        </li>
                        <li class="nav-item">
                            <!-- Đường Dẫn Icon Instagram -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a>
                        </li>
                        <li class="nav-item">
                            <!-- Đường Dẫn Icon Google -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-google-plus-g"></small></a>
                        </li>
                        <li class="nav-item">
                            <!-- Đường Dẫn Icon Youtube -->
                            <a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Thành Phần Thanh Header Thứ Hai  -->
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <!-- Đường Dẫn Logo Tin Tức -->
                <a href="/" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-secondary font-weight-normal">News</span></h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <!-- Đường Dẫn Ảnh Quảng Cáo -->
                <a href="https://htmlcodex.com"><img class="img-fluid" src="img/ads-728x90.png" alt=""></a>
            </div>
        </div>
    </div>
